/* Define your styles here */
@import url('view/main-view.css');
@import url('view/main-view-top-menu.css');
@import url('view/login-view.css');

vaadin-email-field::part(input-field) {
  background: yellow;
  border: 1px solid black;
}